.top-container{
  height: 627px;
  width: 100%;
  background-color: #e7e7f4;
  position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.back{
  height: 399px;
  width: 700px;
  margin: 0%;
  padding: 0%;
  align-self: center;
}
.header{
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  margin: 0px auto 0 auto;
}
.name{
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  padding-bottom: 10px;
}
body{
  text-align: center;
}
.middel-container{
  background-color: #e7e7f0;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.greeting{
  margin-top: 32px;
  margin-bottom: 32px;
}
.intro{
  width: 30%;
  margin: auto;
  color: #4a4f5b;
  font-size: 1.2rem;
}
hr{
  border: dotted #9fa5c4 5px;
  border-bottom: none;
  width: 4%;
  margin: 25px auto;
}
.my-photo{
  height: 210px;
  width: 190px;
  border-radius: 50%;
}
.parent{
  background-color: #e7e7f0;
  display: flex;
  flex: 1;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0%;
}
.photo{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
  border-radius: 2%;
}
.about{
  font-size: 2rem;
  text-decoration: none;
}
.about:hover{
  color: rgb(88, 103, 121);
}
.item{
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #515389;
}
.line{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.bottom-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 370px 150px;
}
.contact{
  width: 30%;
  height: 400px;
  margin: auto;
}
.likes{
  margin-top: 40px;
  color:#515389;
}
.qoute{
  margin-bottom: 60px ;
  color: #6f7176;
}
.button{
  font-size: 25px;
  background-color: #515389;
  color: white;
  padding: 5px 25px 5px 25px;
  border-radius: 15px;
  text-decoration: none;
}
.button:hover{
  background-color: #9fa5c4;
}
.footer{
  background-color: #515389;
  padding-top: 50px;
}
.social{
  margin: 50px;
  color: #9fa5c4;
  text-decoration: none;
}
.social:hover{
  color: white;
}
.copyright{
  color: white;
}
.contact-me{
  text-align: start;
  font-size: 1.2rem;
}
.link{
  color: black;
}
.link:hover{
  color: blue;
}
.connection{
  font-size: 1.5rem;
}

@media (max-width: 680px){
  .back{
    height: 399px;
    width: 470px;
    margin: 0%;
    padding: 0%;
    align-self: center;
    flex-wrap: wrap;
  }
}









































/*.edu{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
  border-radius: 2%;
}
.pro{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
  border-radius: 2%;
}
.skill{
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
  border-radius: 2%;
}

.study{
  font-size: 2rem;
}
.achivement{
  font-size: 2rem;
}
.skills{
  font-size: 2rem;
}*/
